<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reecit{% endblock %}</title>
    <!-- Material-UI CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>

<body>
    
<header>
    <img class="logo" src="{{ url_for('static', filename='images/logo.PNG') }}" alt="reecit Logo">
    <h1>Welcome to Reecit!</h1>
    <h2>BY JUST FILLING A FORM...</h2>
    <h3>Make your documents easy!</h3>
</header>
    
    <div class="border"> 
        <p>Fill a form, with you prefered graphics for the receipt or <br>
             document you are creating, u can always edit later
            (also working on common template Receipts)</p>
       <a class="button" href="{{ url_for('index') }}"> Get Started </a>
        <a class="button" href="{{ url_for('new_receipt') }}">Create New Receipt</a>
        <a class="button" href="{{ url_for('list_receipts') }}">My Receipts</a>
        <a class="button" href="https://ibconcept.github.io/Reecit"> About </a>
    </div>
    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <footer class="border">
        <p>Contact us: support@reecit.com</p>
    </footer>
</body>
</html>
