<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reecit{% endblock %}</title>
    <!-- Material-UI CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>

<body>
    <h1>Welcome to Reecit!</h1>
    <h3>Make your document easy</h3>
    <p class="border"><br>Get started with:
        <a class="button" href="{{ url_for('index') }}"> Home </a>
        <a class="button" href="{{ url_for('new_receipt') }}">Create New Receipt</a>
        <a class="button" href="{{ url_for('list_receipts') }}">My Receipts</a>
        
    </p>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <footer class="border">
        <p>Contact us: support@risiti.com</p>
    </footer>
</body>
</html>
