<!-- landing page for receipt -->

{% extends "base.html" %}

{% block title %}
    Reecit - Home
{% endblock %}


{% block content %}
    
       
    <h2> Reecit provides a digital solution for managing receipts, <strong> invoices, 
        reports, and quotations</strong>, <br> 
        helping to streamline your business processes.</h2>
  
    <h2 class="border">Main Features:</h2>
    <ul style="list-style-type: none;">
        <li>Receipt Editing and Management</li>
        <li>Customizable Templates</li>
        <li>Single-Page Dashboard</li>
        <li>Print to PDF and more formats</li>
    </ul>
    
    
    
{% endblock %}
