<!-- list_receipts.html -->

{% extends "base.html" %}

{% block title %}
    reecit - List of Receipts
{% endblock %}

{% block content %}
    <h1>My Receipts (click to view)</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Items</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts %}
            <tr>
                <td><a href="{{ url_for('render_receipt', receipt_id=receipt.id) }}">{{ receipt.id }}</a></td>
                <td><a href="{{ url_for('render_receipt', receipt_id=receipt.id) }}">{{ receipt.name }}</a></td>
                <td><a href="{{ url_for('render_receipt', receipt_id=receipt.id) }}"> ${{ receipt.amount }}</a></td>
                <td><a href="{{ url_for('render_receipt', receipt_id=receipt.id) }}">{{ receipt.date.strftime('%Y-%m-%d') }}</a></td>
                <td><a href="{{ url_for('render_receipt', receipt_id=receipt.id) }}">{{ receipt.items[:50] }}{% if receipt.items|length > 50 %}...{% endif %}</a></td>
                <td>
                    {% if receipt.image %}
                    <a href="{{ url_for('static', filename='uploads/' + receipt.image) }}" target="_blank">View Image</a>
                    {% else %}
                    No Image
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('new_receipt') }}">Create a New Receipt</a>
{% endblock %}
