{% extends "base.html" %}

{% block title %}
    reecit - List of Receipts
{% endblock %}

{% block content %}
    <h1>List of Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Items</th>
                <th>Image</th>
                <th>PDF</th> <!-- Add a column for the PDF link -->
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts %}
            <tr>
                <td>{{ receipt.id }}</td>
                <td>{{ receipt.name }}</td>
                <td>${{ receipt.amount }}</td>
                <td>{{ receipt.date }}</td>
                <td>{{ receipt.items }}</td>
                <td>
                    {% if receipt.image %}
                    <a href="{{ url_for('static', filename='uploads/' + receipt.image) }}" target="_blank">View Image</a>
                    {% else %}
                    No Image
                    {% endif %}
                </td>
                <td>
                    {% if receipt.pdf_url %}
                    <a href="{{ receipt.pdf_url }}" target="_blank">View PDF</a>
                    {% else %}
                    No PDF
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('new_receipt') }}">Create a New Receipt</a>
{% endblock %}
